# DB Config(old)
# DB_NAME=smart_sohay_db
# DB_USER=smart_sohay_db_user
# DB_PASSWORD=
# DB_HOST=
# DB_PORT=5432
# PGB_HOST=
# PGB_PORT=6433
# USE_PGBOUNCER=0

# DB Config(new)
DB_NAME=smart_sohay_db
DB_USER=smart_sohay_db_user
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
PGB_HOST=
PGB_PORT=6433
USE_PGBOUNCER=0