SOURCE_BUCKET_NAME=your_source_bucket_name
SOURCE_ACCOUNT_ID=your_source_account_id
SOURCE_ACCESS_KEY_ID=your_source_access_key_id
SOURCE_SECRET_ACCESS_KEY=your_source_secret_access_key

DESTINATION_BUCKET_NAME=your_destination_bucket_name
DESTINATION_ACCOUNT_ID=your_destination_account_id
DESTINATION_ACCESS_KEY_ID=your_destination_access_key_id
DESTINATION_SECRET_ACCESS_KEY=your_destination_secret_access_key

NEW_USER_POLICY_NAME=your_new_user_policy_name
NEW_USER_NAME=your_new_user_name